{% extends "layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="span12">
     <h1>Leaderboard</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% include "top10.html.twig" %}
    </div>
</div>

{% endblock %}