{% extends "layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="span12">
     <h1>Leader board</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% include "leaderboard.html.twig" %}
    </div>
</div>

<div class="row">
    <div class="span12">
     <h1>Latest Rides</h1>
        {% include "ride_list.html.twig" %}
    </div>
</div>
{% endblock %}