<!DOCTYPE html>
<html>
  <head>
    <title>Century Challenge</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/datepicker.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>
  </head>
  <body>
    <header class="navbar navbar-static-top navbar-inverse">
             <div class="navbar-inner">
               <div class="container">


                 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </a>


                 <a class="brand" href="/">Century Challenge</a>


                 <div class="nav-collapse collapse">
                     <ul class="nav">
                           <li><a href="/">Home</a></li>
                           <li><a href="/add">Add Ride</a></li>
                           <li><a href="/rides">All Rides</a></li>
                           {% if is_granted('ROLE_USER') %}
                           <li><a href="/profile/{{ app.security.getToken().getUser().getUsername() }}">Your Rides</a></li>
                           {% endif %}
                     </ul>
                     {% if is_granted('ROLE_USER') %}
                      <ul class="nav pull-right">
                        <li><p class="navbar-text">Hello  {{ app.security.getToken().getUser().getFirstName() }}! ({{ app.security.getToken().getUser().getUsername() }})</p></li>
                        <li><a href="/profile/{{ app.security.getToken().getUser().getUsername() }}/edit">Edit profile</a></li>
                        <li><a href="/logout">Logout</a></li>

                     </ul>
                     {% else %}
                      <ul class="nav pull-right">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>                       
                     </ul>

                     {% endif %}


                 </div>
                    
               </div>
             </div>
     </header>

    <div class="container">
    {% block body %}{% endblock %}
    </div>
</body>
</html>