<!DOCTYPE html>
<html>
  <head>
    <title>Century Challenge</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/datepicker.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>
      <style>
          .nav-pills {
              margin: 0 auto;
              padding: 0;
              width: 150px;
          }
      </style>
  </head>
  <body>
    <header class="navbar navbar-static-top navbar-inverse">
             <div class="navbar-inner">
               <div class="container">


                 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </a>


                 <a class="brand" href="/">Century Challenge</a>


                 <div class="nav-collapse collapse">
                     <ul class="nav">
                           <li><a href="/">Home</a></li>
                           <li><a href="/leaderboard">Leaderboard</a></li>
                           <li><a href="/add">Add Ride</a></li>
                           {% if is_granted('ROLE_USER') %}
                           <li><a href="/profile/{{ app.security.getToken().getUser().getUsername() }}">Your Rides</a></li>
                           {% endif %}
                     </ul>
                     {% if is_granted('ROLE_USER') %}
                      
                      <div class="dropdown nav pull-right">
                       <a class=" btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">{{ app.security.getToken().getUser().getUsername() }}  <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="/profile/{{ app.security.getToken().getUser().getUsername() }}/edit">Edit profile</a></li>
                            <li><a href="/profile/{{ app.security.getToken().getUser().getUsername() }}/changepassword">Change password</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                      </div>

                   
                     {% else %}
                      <ul class="nav pull-right">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>                       
                     </ul>

                     {% endif %}


                 </div>
                    
               </div>
             </div>
     </header>

    <div class="container">
        {% block body %}{% endblock %}


        <footer>
            <hr>
            <div class="row">
                <div class="span12">
                    <ul class="nav nav-pills">

                        <li><a href="https://github.com/robcaw/century">Github</a></li>
                        <li><a href="https://github.com/robcaw/century/issues">Issues</a></li>

                    </ul>
                </div>

                <div class="span12 center">
                    <p><small>Hosting costs for this service come out of my own pocket, please support me by donating</small></p>
                    <p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC0SA8TZ5/fzHyo37syr3EyiJQqmL2ZvLOakJCbXlcjPAWIwMbpw/BXWD7k9p4yBYPpb4rVZFWJxZ0HYyoq9W8ZtRHE4PltA1BooteOw6CKB8YQQislH7yvlGzN3Tk3+HbQD78oEBT+XMPHavBmvR9Or7F4FfK50MxBxKxJSEGU6DELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIOlYHk2n8sDWAgZhjJ+GuzvJCgvx8V8eql26DYsMgUPwfUswYQ4RgabPGJSgPPGtdfB+14MMRQj3gdo/toBz+5Qil2suR0x2xWkup5Gux8UhnhtcCV0y/Uk1/XkXuAQQgd4/dP/+TlzvHZsKVBC+nf6Ej7mzwYzY6XWc3wwp+NierBvCGokPFLB+Tr18eIs1NfUl10fr+Jaz1IYJyO1F+H3nobaCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MDEwMTE5MTk1MFowIwYJKoZIhvcNAQkEMRYEFN3Cu//gImKojhFsZKWnNdvRyFAIMA0GCSqGSIb3DQEBAQUABIGAasatjtgtFgSfQONqp9BGh87fkYjxSB3UNI1+YOvo2J/n767FLB/RbS87PKwBXFHmT00TrZX1tfs/ODa7A4bFelwmq63ljNrlTxKfv61hQH3wojclchZzOb9RDEZCWZAf8AqQe0J9A0Rubmxl63NbPq4I2P2AeogqvEHtW9BN5I8=-----END PKCS7-----
    ">
                            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>

                    </p>
                </div>
            </div>
        </footer>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29313368-2']);
  _gaq.push(['_setDomainName', 'robcaw.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
