{% extends "layout.html.twig" %}
{% block body %}

<div class="row">
	<div class="span12">
	<h1>Login</h1>
		<form action="{{ path('login_check') }}" method="post">
		<fieldset>
		<legend>Enter your login details</legend>
			{% if error %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endif %}
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Username</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="username" name="_username" value="{{ last_username }}">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Password</label>
		    <div class="controls">
		      <input type="password" id="inputPassword" placeholder="Password" name="_password" value="">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">Sign in</button>
		    </div>
		  </div>
		  <p><a href="/resetpassword">Forgotten your password?</a></p>
		</fieldset>

		</form>
	</div>
</div>
{% endblock %}
