{% extends "layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1>Ride #{{ ride.getRideId() }} {{ ride.getStravaRideId()}}</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
    </div>
</div>

{% endblock %}