{% extends "layout.html.twig" %}
{% block body %}

<div class="row">
    <div class="span12">
        <h1>Success!</h1>
        <div class="span4 alert alert-success">
            <strong>{{ message }}</strong> <a href="/">Continue</a>
        </div>
    </div>
</div> 
{% endblock %}